<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
    <h1>Les Students</h1>
    {% for student in students %}
        <p>{{ student.name }}</p>
        <p>{{ student.age }}</p>
        <p>{{ student.bio }}</p>
    {% endfor %}
</body>
</html>